@media screen and (max-width: 375px){
  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  form button{
    display: none!important;
  }
}